<!doctype html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/design.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color: #3CB371; font-size: 35px;">TraXersal</a>
    <a class="navbar-brand" href="#" style="color: #3CB371; font: 20px Comic Sans MS; font-weight: lighter;">U.S.
        National Parks</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
    <div class="homeBt">
        <form>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formmethod="GET"
                formaction='/'>Home</button>
        </form>
    </div>

    <div class="LoginBt">
        <button class="btn btn-outline-success my-2 my-sm-0" type="Login">Login</button>
    </div>
</nav>

</header>

<body>

    <div class="wrap">
        <ul class="list">
            <li class="item active"><img src="/images/park1.jpeg"></li>
            <li class="item"><img src="/images/park2.jpeg"></li>
            <li class="item"><img src="/images/park3.jpeg"></li>
            <li class="item"><img src="/images/park4.jpeg"></li>
            <li class="item"><img src="/images/park5.jpeg"></li>
        </ul>
        <ul class="pointList">
            <li class="point active" data-index=0></li>
            <li class="point" data-index=1></li>
            <li class="point" data-index=2></li>
            <li class="point" data-index=3></li>
            <li class="point" data-index=4></li>
        </ul>
        <button class="btn1" id="leftBtn">
            < </button>
                <button class="btn2" id="rightBtn"> > </button>

    </div>
    <script>
        var items = document.querySelectorAll(".item");
        var points = document.querySelectorAll(".point")
        var left = document.getElementById("leftBtn");
        var right = document.getElementById("rightBtn");
        var all = document.querySelector(".wrap")
        var index = 0;
        // timer delay for inital value
        var time = 0;


        //clear active
        var clearActive = function () {
            for (i = 0; i < items.length; i++) {
                items[i].className = 'item';
            }
            for (j = 0; j < points.length; j++) {
                points[j].className = 'point';
            }
        }

        //chage active
        var goIndex = function () {
            clearActive();
            items[index].className = 'item active';
            points[index].className = 'point active'
        }
        //button left
        var goLeft = function () {
            if (index == 0) {
                index = 4;
            } else {
                index--;
            }
            goIndex();
        }

        //button right
        var goRight = function () {
            if (index < 4) {
                index++;
            } else {
                index = 0;
            }
            goIndex();
        }

        left.addEventListener('click', function () {
            goLeft();
            time = 0;
        })

        right.addEventListener('click', function () {
            goRight();
            time = 0;
        })

        for (i = 0; i < points.length; i++) {
            points[i].addEventListener('click', function () {
                var pointIndex = this.getAttribute('data-index')
                index = pointIndex;
                goIndex();
                time = 0;
            })
        }

        var timer;
        function play() {
            timer = setInterval(() => {
                time++;
                if (time == 20) {
                    goRight();
                    time = 0;
                }
            }, 100)
        }
        play();
        all.onmousemove = function () {
            clearInterval(timer)
        }

        all.onmouseleave = function () {
            play();
        }
    </script>

    <div class="list-group" style="width: 170px;">

        <% if (states.length) { %>
            <% states.slice(0,13).forEach(state=> { %>
                <li><a href='/states/<%= state.value%>'
                        class="list-group-item list-group-item-action list-group-item-success">
                        <%= state.name%>
                    </a></li>
                <% }); %>
                    <% }; %>

    </div>

    <div class="list-group" style="width: 170px;">

        <% if (states.length) { %>
            <% states.slice(13, 26).forEach(state=> { %>
                <li><a href='/states/<%= state.value%>'
                        class="list-group-item list-group-item-action list-group-item-success">
                        <%= state.name%>
                    </a></li>
                <% }); %>
                    <% }; %>

    </div>

    <div class="list-group" style="width: 170px;">

        <% if (states.length) { %>
            <% states.slice(26,39).forEach(state=> { %>
                <li><a href='/states/<%= state.value%>'
                        class="list-group-item list-group-item-action list-group-item-success">
                        <%= state.name%>
                    </a></li>
                <% }); %>
                    <% }; %>

    </div>

    <div class="list-group" style="width: 170px;">

        <% if (states.length) { %>
            <% states.slice(39,52).forEach(state=> { %>
                <li><a href='/states/<%= state.value%>'
                        class="list-group-item list-group-item-action list-group-item-success">
                        <%= state.name%>
                    </a></li>
                <% }); %>
                    <% }; %>

    </div>

</body>

</html>